{% extends 'base.html' %}
{% block content %}
<div class="container justify-content-center">
<form method="GET">

    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit">See Category</button>
</form>

<div class="row">
    <p class="col-4">
        Total Monthly Expenses:
        ${{total_expenses}}
    </p>
</div>

<i class="row">
    <i class="col-4">
        Food Expenses:
        ${{expenses['Food & Drink']}}
    </i>
    <i class="col-4">
        Travel Expenses:
        ${{expenses['Travel']}}
    </i>
    <i class="col-4">
        Home Expenses:
        ${{expenses['Home Goods']}}
    </i>
    <i class="col-4">
        Apparel Expenses:
        ${{expenses['Apparel']}}
    </i>
    <i class="col-4">
        Transportation Expenses:
        ${{expenses['Transportation']}}
    </i>
    <i class="col-4">
        Housing Expenses:
        ${{expenses['Housing']}}
    </i>
    <i class="col-4">
        Utilities Expenses:
        ${{expenses['Utilities']}}
    </i>
    <i class="col-4">
        Miscellaneous Expenses:
        ${{expenses['Miscellaneous']}}
    </i>
</i>


{% if selected_category != None %}
<div class="row">
    <h4 class="col-12">Category Summary</h4>
    <p class="col-12">
        Total Expenses for {{selected_category}}:
        ${{category_stats['expense_sum']}}
    </p>
    {% else %}
    <p class="col-12">
        Select a category above to see details!
    </p>
    {% endif %}
    {% if category_stats['expense_sum'] != 0 %}
    <p class="col-12">
        {{selected_category}} as % of total:
        {{ ((category_stats['expense_sum'] / total_expenses) * 100)|round(1) }}%
    </p>
    <p class="col-12">
        # of recorded Expenses:
        {{ category_stats['expense_count']}}
    </p>
    {% endif %}
</div>
</div>
{% endblock %}